SmarterBalanced.SampleItems/ClaimConfigurations/ClaimsConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Subjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Subject" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Code"/>
              <xs:element type="xs:string" name="Label"/>
              <xs:element type="xs:string" name="ShortLabel"/>
              <xs:element name="Claim" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Code"/>
                    <xs:element type="xs:byte" name="ClaimNumber"/>
                    <xs:element type="xs:string" name="Label"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>